@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body id="color">
    <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=psuRGfAaju4&t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
</body>